<template name='profile'>
  <div id="profile">
    <div class="container">
      <div class="row">
        <div class="col col-lg-6">
          <h2>Edit Profile</h2>
          <h4><small>Public URL: <a href="{{publicUrl}}">{{publicUrl}}</a></small></h4>

          <form>
            {{#each profileFields}}
              {{> _profileField}}
            {{/each}}
            {{submit_button 'Update Profile'}}
          </form>
        </div>

        {{#if showPreview}}
          <div class="col col-lg-6">
            <h2>Preview Profile</h2>
            {{> userCard }}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="_profileField">
  {{#if isTextField }}
    <div class="form_group">
      {{#with profile}}
        {{text_field ../name type=../type required=../required hint=../hint placeholder=../placeholder afterAddon=../afterAddon class="profileField"}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isCheckbox}}
    <div class="checkbox">
      {{#with profile}}
        {{check_box name label=label required=required}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isFileField }}
    <div class="form_group">
      {{> file_field object=profile field=name}}
    </div>
  {{/if}}
</template>
