<template name='userCard'>
  <div class='well'>
    <h3>{{name}}</h3>
    <h4>{{subhead}}</h4>
    <p>{{bio}}</p>
    {{#if url}}
    <p><a href='{{url}}'><i class="fa fa-external-link-square"></i> {{url}}</a></p>
    {{/if}}
    {{#if googlePlusUrl}}
    <p><a href='{{googlePlusUrl}}'><i class="fa fa-google-plus-square"></i> {{googlePlusUrl}}</a></p>
    {{/if}}
    {{#if twitterHandle}}
    <p><a href='http://twitter.com/{{twitterHandle}}'><i class="fa fa-twitter-square"></i> @{{twitterHandle}}</a></p>
    {{/if}}
  </div>
</template>
